html{
  height:100%;
}

body{
  height:100%;
  font-family: Lato;
  font-style: normal;
  font-size:14px;
  line-height: normal;
  font-weight: 400;
  color: map_get($colors, 'navy-text');
}

textarea:focus, input:focus, select:focus{
  outline: none;
}

h1{
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: map_get($colors, 'navy-text');
  letter-spacing: 0.05em;
}

label{
  font-size: 15px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: map_get($colors, 'placeholder') !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: map_get($colors, 'placeholder') !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: map_get($colors, 'placeholder') !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: map_get($colors, 'placeholder') !important;
}

.custom-control{
  padding-left: 1.9rem;
}

.custom-control-label{
  font-size: 12px;
  line-height: 20px;
}

.custom-control-label::before{
  border: map_get($colors, 'input-border') solid 1px;
  margin-top:0px;
  padding-right:20px;
}

.custom-control-label::before,
.custom-control-label::after {
  top: 0rem;
  width: 20px;
  height: 20px;
  left: -1.9rem;
}

.form-group{
  margin-bottom: 22px;
}

select.form-control{
  border-radius: 6px;
}

.form-control{
  background: #FFFFFF;
  border: 1px solid map_get($colors, 'input-border');
  box-sizing: border-box;
  border-radius: 3px;
  padding-left:15px;
  font-size:15px;
  height:48px;

  &:focus{
    border: 1px solid #27505D;
  }
}

.inner-addon {
  position: relative;
}
.inner-addon input {
  padding-left: 46px;
}
.inner-addon img {
  position: absolute;
  left: -10px;
  padding: 10px 12px;
  pointer-events: none;
  top: 3px;
  left:0px;
}

.tooltip-inner {
  background-color: #CEE0E3;
  color: map_get($colors, 'navy-text');
  font-size: 12px;
  font-weight: 700;
}
.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: #CEE0E3 !important;
}
.tooltip.bs-tooltip-left .arrow:before {
  border-left-color: #CEE0E3 !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: #CEE0E3 !important;
}
.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: #CEE0E3 !important;
}

.modal-content{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border:none;

  .modal-header{
    background-color: #F2F9FA;
    border-bottom: none;

    .close{
      position: absolute;
      right:25px;
    }

    .modal-title{
      width: 100%;
      text-align: center;
      font-size:18px;
      line-height: normal;
    }
  }

  .modal-body{
    padding:2rem;
  }

  .modal-footer{
    padding:20px;
  }

}

.drag-field{
  font-weight: 700;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: map_get($colors, 'turquoise-light');
  color: map_get($colors, 'gray-text');
  border:1px dashed map_get($colors, 'input-border');
  border-radius: 3px;
  padding:16px 16px 0px 16px;
  height:48px;

  a{
    color: map_get($colors, 'turquoise');
    text-decoration: underline;
    font-size:12px;
  }
}

.header{
  padding-top:120px;
  padding-bottom: 30px;

  .btn{
    margin-top:2px;
  }

  h1{
    margin-top:15px;
  }

  .drag-field{
    margin-left:15px;
    width:49%;
  }
}

.page{
  padding-bottom: 100px;
  padding-top:0px;
}

.fixed-footer{
  position: fixed;
  background-color: #ffffff;
  height:81px;
  width:100%;
  bottom:0px;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);

  .pagination{
    margin-top:0px;

    .page-item{

      &.active .page-link, &.active .page-link:hover{
        background-color: map_get($colors, 'turquoise-light');
        border-color: map_get($colors, 'turquoise-light');
        text-decoration: none;
        cursor:auto;
        font-weight: 700;
      }

      .page-link{
        font-size: 15px;
        border:none;
        color: #3F3356;
        height:80px;
        padding-top:32px;
        padding-left:17px;
        padding-right: 17px;

        &:hover{
          text-decoration: underline;
          background-color: transparent;
        }
      }
    }

  }

  .btn, .entries{
    margin-top:17px;
  }

  .entries{
    max-width: 210px;
    color: map_get($colors, 'gray-text');
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.05em;
    font-weight: 700;


    span{
      display: inline-block;
    }

    select{
      display: inline-block;
      width: 80px;
      margin-left:10px;
      margin-right:10px;
    }
  }
}


.status{
  display: inline-block;
  background: #AFC6C9;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  color:#ffffff;
  min-width: 90px;
  height:24px;
  padding-top:4px;
  padding-bottom: 5px;
}

.status-green{
  background: #3F9D66;
}

.status-orange{
  background: #EB5B25;
}

.status-blue{
  background: #1A4B61;
}
