.status{
  display: inline-block;
  background-color: #AFC6C9;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  color:#ffffff;
  min-width: 90px;
  height:24px;
  padding-top:5px;
  padding-bottom: 5px;
  position: relative;

  &.status-circle{
    color: map_get($colors, 'navy-text');
    font-style: italic;
    background-color: transparent !important;
    text-align: left;
    padding-left:25px;

    &:before{
      content: "";
      height:18px;
      width:18px;
      border-radius: 9px;
      position: absolute;
      left:0px;
      top:2px;
      background-color: #AFC6C9;
    }

    .pulse-ring {
      content: '';
      width: 18px;
      height: 18px;
      border: 1px solid #AFC6C9;
      border-radius: 50%;
      position: absolute;
      top: 2px;
      left: 0px;
      animation: pulsate infinite 1.8s;
    }

  }

  &.status-green .pulse-ring{
    border: 1px solid #3F9D66;
  }

  &.status-green, &.status-circle.status-green:before{
    background: #3F9D66;
  }

  &.status-orange .pulse-ring{
    border: 1px solid #EB5B25;
  }

  &.status-orange, &.status-circle.status-orange:before{
    background: #EB5B25;
  }

  &.status-blue .pulse-ring{
    border: 1px solid #1A4B61;
  }

  &.status-blue, &.status-circle.status-blue:before{
    background: #1A4B61;
  }
}


@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.6, 1.6);
    opacity: 0;
  }
}
